mixin titleSection(subTitle, mainTitle)
  .title-wrapper
    .sub-title.pos-top
      p= subTitle
    h3.main-title!= mainTitle

//- casousel
mixin fullwith-casousel(urlImgXs, urlImgLg, titleCaption, txtCaption)
  .slider-item
    .thumnail-slider(style="background-image: url(images/" + urlImgLg+ ");")
      img(srcset="images/" + urlImgXs + " 576w, images/" + urlImgLg +" 1920w", src="images/" + urlImgLg, alt="").d-block.d-lg-none
    .content-inner.caption-wrapper.has-bottom-bg
      .caption-slider
        h2(data-delay=".1s" data-animation="fadeInUp")!= titleCaption
        p(data-delay=".2s" data-animation="fadeInUp")= txtCaption 
        a(href="#").btn-outline-style1(data-delay=".3s" data-animation="fadeInUp") Download

// +social-icon(['facebook', 'twitter', 'google-plus', 'linkedin', 'instagram'])
mixin social-icon(arr)
  ul.social-icon&attributes(attributes)
    each icon in arr
      li: a(href= "javascript:void(0);")
        i(class="fa fa-" + icon)

//- productItem
mixin productItem(name, urlImage, price, isDiscount, isOnSale)
  // begin product-item
  .product-item.default-item&attributes(attributes)
    .thumbnail-wrapper
      img(data-src='images/' + urlImage , alt='').img-fluid.owl-lazy
      .overlay-wrapper
        .cta-btn-group
          a(href="#", title="Wishlist").organic-btn: i.fa.fa-heart
          a(href="#", title="Add to cart").organic-btn: i.fa.fa-shopping-basket
          a(href="#", title="Zoom").organic-btn: i.fa.fa-expand
        if (isOnSale)
          .product-icons
            span.new-lable New
            span.sale-lable Sale
        
    .entry-main
      h4.entry-title.text-truncate: a(href='#', title)!= name
      .price
        if (isDiscount)
          del: span $65.00
          ins: span= price
        else
          span= price
      if(block)
        block
    
  // end product-item

mixin feature-item(imgUrl, title, text)
  .feature-item
    .img-holder
      img(src="images/" + imgUrl, alt="")
    .feature-content
      h3!= title
      .feature-des
        p!= text
        a(href="#").btn-outline READ MORE

mixin category-item(title, number)
  .col-lg-4.col-md-4
    .category-item
      .icon-wrapper&attributes(attributes)
      .separator
      .category-content
        h3!= title
        p.category-amount= number

//- discountItem
mixin discountItem(category, name, price, isDiscount, isOnSale)
  // begin discount-item
  .product-item.discount-item
    a(href="#").photo-wrapper
      if (isOnSale)
        .product-icons
          span.new-lable New
          span.sale-lable Sale
      img(src="http://placehold.it/205x270" , alt='').img-fluid
    .cta-btn-group
      a(href="#", title="Wishlist").organic-btn: i.fa.fa-heart
      a(href="#", title="Add to cart").organic-btn: i.fa.fa-shopping-basket
      a(href="#", title="Zoom").organic-btn: i.fa.fa-expand
    .entry-main
      h5.category= category 
      h4.entry-title: a(href='#')!= name
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus sapiente ...
      .price
        if (isDiscount)
          del: span $65
          ins: span= price
        else
          span= price
      if(block)
        block
  // end discount-item

mixin sliderItem(name, price, isDiscount)
  // begin slider-item
  a(href="#"): .product-item.img-left
    .photo-wrapper
      img(src="http://placehold.it/160x110" , alt='').img-fluid
    .entry-main
      h4.entry-title.text-truncate!= name
      .separator
      .price
        if (isDiscount)
          del: span $65
          ins: span= price
        else
          span= price

  // end slider-item

mixin testimonialItem(text, author)
  .testimonial-item
    .thumnail-holder
      img(src="images/avatar.png", alt="").img-fluid
    blockquote
      p= text
      footer!= '<i class="fa fa-user"></i>' + author

mixin blogItem(date, title, text)
  // begin blog-post
  article.col-md-6.col-sm-6.blog-post
    .photo-wrapper
      .photo-inner
        img(src="http://placehold.it/240x220", alt="").img-fluid
    .entry-main
      .date-post: time(datetime="")= date
      h4.post-title= title
      .separator
      .post-des
        p= text
      a.more-link(href="#") READ ARTICLE <i class="fa fa-long-arrow-right"></i>
  // end blog-post
  