mixin a(text, href)
  - var href= (typeof(href) === 'undefined' || href =="")? "javascript:void(0);" : href;
  a(href=href, title=text)&attributes(attributes) !{text}

//- MENU
  +menu([["My Account", "account.html", "active"], ["My Wishlist(3)", "account.html"]]).menu-list.center-xs
mixin menu(arr)
  ul&attributes(attributes).unstyled-list
    - for (items in arr)
      - var item = arr[items]
      - if (!item[1])
          - item[1] = "javascript:void(0);"
      - if (item[2] == "active")
        li.active
          a(href=item[1] title=item[0])= item[0]
      - else 
        li
          a(href=item[1] title=item[0])= item[0]

//- wp-menu
  ul.wp-menu.menu-list-sm.clearfix.d-none.d-sm-block
    +wp-menuItem("HOME", "#", "isActive")
    +wp-subMenu("PORTFOLIO", "#", ["PORTFOLIO01", "PORTFOLIO01", "PORTFOLIO01"])

mixin wp-menuItem(title, url, isActive)
  - if (isActive)
    li.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item
       a(href=url title=title)= title
  - else
    li.menu-item.menu-item-type-post_type.menu-item-object-page
       a(href=url title=title)= title

mixin wp-subMenu(title, url, arr)
  li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children
    a(href=url title=title)= title 
    ul.sub-menu
      each val in arr
        li.menu-item.menu-item-type-post_type.menu-item-object-page
          a(href="#")= val

//- breadcrumb
  +breadcrumb([["Home", "index.html"],["Blog", ""],["New collections", ""]], "Summer collections 2013")
mixin breadcrumb(arr, lastitem)
  // begin breadcrumb
  ol.breadcrumb
    - for (items in arr)
      - var item = arr[items]
      li
        a(href=item[1], title=item[0])!=item[0]
    li.active!=lastitem
  // begin breadcrumb

//- social-icon
  +social-icon(['twitter', 'linkedin', 'facebook', 'xing', 'rss'])
mixin social-icon(arr)
  .social-icon
    each icon in arr
      a(href= "javascript:void(0);")
        i(class="fa fa-#{icon}")

//- post-block
mixin post-block(title, date, imgUrl, content)
  // begin post-block
  article.col-md-4.post-block
    a.post-thumbnail(href="#")
      img(src="images/" + imgUrl, alt="")
      span.img-overlay
        i.icon
    .post-content
      h4.post-title= title
      time.date-post(datetime="")= date
      //- .post-meta
        span.author= author
        span.date= date
      .post-des
        p!= content
      a.more-link(href="")
  // begin post-block

//- pagination
mixin pagination
  // begin pagination
  ul.likipe-pagination
    li: span.page-numbers.current 1
    li: a.page-numbers(href="#") 2
    li: a.page-numbers(href="#") 3
    li: a.next.page-numbers(href="#") →
  // begin pagination

//- casousel
mixin fullwith-casousel(urlImg, titleCaption, txtCaption)
  // begin slider-item
  li.likipe-slider-item
    .thumnail-slider(style="background-image: url(./images/" + urlImg + ")")
    .caption-wrapper
      .container
        .caption-slider
          .section-title.animation(data-delay=".1s" data-animation="fadeInUp")
            h2.main-title= titleCaption
          p.animation(data-delay=".2s" data-animation="fadeInUp")= txtCaption 
          a(href="#").btn-outline.animation(data-delay=".3s" data-animation="fadeInUp") READ MORE
  // end slider-item

//- product
mixin product(name, url, price, order, discount, savePercent, removeicon)
  // begin product-item
  .product-item
    if (removeicon)
      .remove-icon
        i.iconfont-remove-sign
    if (savePercent)
      .sale-icon= savePercent
    .photo-wrapper
      img(src='images/#{url}.jpg', alt='').img-responsive
      .icon-style.hidden-list.hidden-sm.hidden-xs
        a.img-link(href='product_detail.html')
        a(href='cart.html', title='Add to Cart')
          i.fa.fa-shopping-cart.icon-01
        a(href='my_account.html', title='Add to Wishlist')
          i.fa.fa-heart.icon-02
        a(href='compare_product.html', title='Add to Comapre')
          i.fa.fa-refresh.icon-03
    .entry-main.clearfix
      .rate-bar
        .rateit-selected
      span.recent-order
        span.order= order
        span &nbsp;orders
      h5.entry-title: a(href='#')= name
      s.entry-discount= discount
      | &nbsp;
      span.price= price
      if(block)
        block
  // end product-item